In [2]:
import math
import pandas as pd


def distance(word1, word2):
    d = 0
    for i in range(len(word1)):
        if word1[i] != word2[i]:
            d += 1
    return d

In [3]:

codewords = ["000000", "001001", "001110", "011011", "111001", "111111"]
codewords_list = list(codewords)
pe = 1e-1
joint_matrix = []
for i, code_a in enumerate(codewords_list):
    joint_matrix.append([])
    for j, code_b in enumerate(codewords_list):
        d = distance(code_a, code_b)
        n = len(code_b)
        val = math.pow(pe, d) * math.pow(1 - pe, n - d)
        joint_matrix[i].append(val)
for i in range(len(codewords_list)):
    sum = 0
    for j in range(len(codewords_list)):
        sum += joint_matrix[j][i]
    joint_matrix[i][i] = 1 - sum + joint_matrix[i][i]
pd.DataFrame(joint_matrix)

          0         1         2         3         4         5
0  0.992547  0.006561  0.000729  0.000081  0.000081  0.000001
1  0.006561  0.979507  0.000729  0.006561  0.006561  0.000081
2  0.000729  0.000729  0.997075  0.000729  0.000009  0.000729
3  0.000081  0.006561  0.000729  0.979507  0.006561  0.006561
4  0.000081  0.006561  0.000009  0.006561  0.980227  0.006561
5  0.000001  0.000081  0.000729  0.006561  0.006561  0.986067

In [9]:
from copy import deepcopy

probabilities_list = [0.25, 0.05, 0.3, 0.1, 0.15, 0.15]
channel_matrix = deepcopy(joint_matrix)
for i in range(len(joint_matrix)):
    for j in range(len(joint_matrix)):
        channel_matrix[i][j] = joint_matrix[i][j] * probabilities_list[i]
channel_matrix_df = pd.DataFrame(channel_matrix)
channel_matrix_df

              0         1         2         3         4             5
0  2.481367e-01  0.001640  0.000182  0.000020  0.000020  2.500000e-07
1  3.280500e-04  0.048975  0.000036  0.000328  0.000328  4.050000e-06
2  2.187000e-04  0.000219  0.299123  0.000219  0.000003  2.187000e-04
3  8.100000e-06  0.000656  0.000073  0.097951  0.000656  6.561000e-04
4  1.215000e-05  0.000984  0.000001  0.000984  0.147034  9.841500e-04
5  1.500000e-07  0.000012  0.000109  0.000984  0.000984  1.479100e-01